<mat-card>
  <div class="container-fluid">
    <div class="row">
      <!-- Date picker -->
      <div class="col-xs-12 col-lg-6">

        <mat-card class="agenda-date-picker">
          <mat-calendar [(selected)]="dateSelected"></mat-calendar>
          <p class="agenda-date-selected">Selected date: {{dateSelected | date: 'dd.MM.YYYY'}}</p>
        </mat-card>

      </div>

      <!-- Hours list -->
      <div class="col-xs-12 col-lg-6">

        <mat-list class="agenda-hours">

          <mat-divider></mat-divider>

          <ng-container *ngFor="let hour of hours">
            <ng-container *ngTemplateOutlet="agendaHourItem; context: {hour}">
            </ng-container>
          </ng-container>

        </mat-list>

      </div>
    </div>
  </div>
</mat-card>

<ng-template #agendaHourItem let-hour="hour">
  <mat-list-item class="hour-row" (click)="requestVideoCall(hour)">
    <div class="row middle-xs">
      <div class="hour-label">{{hour}}</div>
      <div class="col-xs">
        <mat-chip-list *ngIf="isHourBooked(hour)">
          <mat-chip [color]="calendarItemsPerHour.get(hour).reason ? 'primary' : 'warn'" selected>
            {{(calendarItemsPerHour.get(hour).reason || 'is booked')}}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </mat-list-item>

  <mat-divider></mat-divider>
</ng-template>
